@import "src/styles";
.details-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wine-image-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wine-image{
  width:200px;
  height:450px;
  object-fit: contain;
}

.item-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0;
  width:100%;
}
.item-details-container h2{
  font-size: 5.6rem;
  margin-top:21px;
  line-height: 0.7rem;
  font-weight: 500;
  color:#929292;
  text-wrap: normal;
}

.item-details-container h5{
  color:#a8a7a7;
  font-weight: 500;
  font-size:2rem;
  line-height: 1.2rem;
  padding-top:20px;
  height:80px;
}

.bottle-container {
  padding: 0 1rem 0 0;
}
.bottle{
  font-weight: 600; line-height: 1rem;
}

.case{
  border-left: 1px dotted #4d4d4d;
  font-weight: 600;
  line-height: 1rem;
  padding:0 1rem 0 1rem;
}

.btn{
  &-tag{
    border: 1px solid $grey-lighten-3;
    color: $grey-darken-2;
    text-decoration: none;
  }
}



.btn{
  &-light{}
  &-light, &-dark, &-link{
    transition: all 600ms ease;
  }
  &-light:hover, &-link:hover{
    background-color: $color-accent;
  }
  &-dark:hover{
    background-color: $grey-lighten-2;
    color:$grey-darken-4;
  }
  &-cart{
    background-color: $grey-lighten-4;
    &-2{
      background-color: $grey-lighten-3;
    }
  }
  &-wine{
    font-family: Arial,sans-serif;
    font-size:0.7rem;
  }
  &-wine-even{
    font-family: Arial,sans-serif;
    width: 100%;
    font-size:0.7rem;
  }
}
